<div class="product">
  <div class="product__image" (click)="onViewDetail(product)">
    <img src={{product.image}}>
  </div>
  <div class="product__detail">
    <label class="product__detail--type">{{product.type}}</label>
    <div class="product__detail--price my-2">${{product.price}}</div>
    <div class="my-2">
      <app-selectbox [options]="listOptions" (selectItem)="onChange($event)"></app-selectbox>
    </div>
    <div class="my-2">
      <app-button (btnClick)="onAddToCart()" [label]="'Add to Card'"></app-button>
    </div>
  </div>
</div>