.cart {
  &__selected {
    &--total {
      font-weight: 800;
    }
  }
  &__infor {
    &--row {
      margin-bottom: 16px;
      label {
        font-weight: bold;
        margin-bottom: 8px;
      }
    }
    &--error {
      color: rgb(222, 44, 44);
    }
  }
}