.product-added {
  &__infor {
    margin: auto 0;
    &--type {
      font-weight: bold;
      font-size: 22px;
    }
    &--price {
      font-weight: 600;
      font-size: 20px;
    }
    &--amount {
      label {
        margin-right: 16px;
        display: flex;
        align-items: center;
      }
    }
  }
  &__image {
    text-align: center;
    img {
      width: 50%;
      height: 200px;
    }
  }
}