<div class="detail row">
  <div class="detail__image col-6">
    <img src={{product?.image}}>
  </div>
  <div class="detail__infor col-6">
    <label class="detail__infor--type">{{product?.type}}</label>
    <div class="detail__infor--price my-2">${{product?.price}}</div>
    <div class="detail__infor--description my-2">{{product?.description}}</div>
    <div class="my-2">
      <app-selectbox [options]="listOptions" (selectItem)="onChange($event)"></app-selectbox>
    </div>
    <div class="my-2">
      <app-button (click)="onAddToCart()" [label]="'Add to Card'"></app-button>
    </div>
    <div>
      <a routerLink="/store/list">Back to product list</a>
    </div>
  </div>
</div>